*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:white;
}

/*comunes a ambas listas*/
ul > li > a {
   background-image: url('img/tazaopcion.jpg');
   background-repeat:no-repeat;
   background-position-y:center;
   background-position-x:center;
   background-size:contain;
   line-height: 85px;
   text-align:center;
}
/*dimensiones li  comunes*/
ul > li {
    width:30px;
    height:35px;
}
ul.vertical > li > a{
    display:block;
}

/*horizontal*/
ul.horizontal > li > a{
    display:inline-block; 
}
ul.horizontal > li {
    display:inline-block;  
}

