*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container {
    background-color: black;
    width:90%;
    margin:0 auto;
    border-radius:20px;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    text-align:center;
    /*cuidao con align items, dado que al cambiar  a pantalla pequeña align-items en flex-direcition column
    alinea pero horizontalmente, entonces no aplica  se aplica bien el tamaño de los enlaces, debido a ello, pq
    entiede que tiene que centrarse*/
}


.nav {
    box-shadow:2px 2px 8px greenyellow;
    display:flex;
    padding:10px;
}

.nav a {
    text-decoration: none;
    color:white;
    padding:15px;
}

.nav a:not(.activo):hover {
    background-color: grey;
}

 .nav a.activo {
    border-top:yellow 4px solid;
    background-color: grey;
 }

 @media screen and (min-width:601px) and (max-width:768px) {

    .header {
        flex-direction:column;
        justify-content: center;
    }
        img {
            display:block;
            margin:auto;
            margin-bottom:20px;
        }

 }
 @media screen and (max-width:600px) {

    img {
        display:block;
        margin:auto;
        margin-bottom:20px;
    }
    
    .header {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
    }

 }