/*
MODELO DE CAJAS, PROPIEDADES BORDE, MARGEN
1. En este ejercicio se practicaran propiedades como el borde, relleno, margen, anchura y
algunas propiedades de texto como: interlineado, color de fuente, alineación de texto, estilo
de fuente ...
• Para el primer párrafo: color de fuente #2d6921, borde de 3px dotted y color #d66f0f,
anchura de 500px, fuente en negrita, relleno en los cuatro lados de 20px, texto alineado
a la derecha y un margen inferior de 100px.
• Para el segundo párrafo: borde de 3px solido y color azul, anchura 500px, centrado
automáticamente, relleno a los cuatro lados de 50px y la fuente en cursiva.
• Para el tercer párrafo: anchura del 30%, borde de 6px outset y color #666, relleno a los
cuatro lados de 10px, texto justificado y un interlineado de 30px.
• Para el cuarto párrafo: anchura del 75%, borde superior de 3px solido y color #f0377b.
*/

p.primero , p.segundo{
    width:500px;
    font-weight: bold;
    border-width: 3px;
    border-style: dotted;
}

p.primero {
    color:  #2d6921;
    border-color : #d66f0f;
    padding:20px;
    text-align: right;
    margin-bottom: 100px;
}
/*
body:first-child{
    color: #2d6921;
    border : 3px dotted y color #d66f0f;
    width:500px;
    font-weight: bold;
    padding:20px;
    text-align: right;
    margin-bottom: 100px;
}
    */
p.segundo{
    border-color :  blue;
    padding:50px;
    margin:auto;

}
p.tercero {
    width:30%;
    border: 6px outset  #666;
    padding:10px;
    text-align:justify;
    line-height:30px; 
}
p.cuarto {
    width:75%;
    border-top:  3px solid  #f0377b ;
}