/*
• Crea una galería de imágenes tal y como muestra la siguiente imagen:
*/
img{
    display:block;
    width:200px;
    height:200px;
    float:left;
    margin :0px 8px;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
