* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#escenario {
    height: 100vh;
    background-image:  url('./fondoplaya2.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    position:relative;
    background-position: center;
    overflow: hidden;
    animation: cambiar_tonalidad 15s ease-out infinite backwards
}

/*
#nube {
    width:15%;
    height:25%;
    position: absolute;
    animation: mover_plato  60s steps(02)  
}
*/

#plato {
    width:5%;
    height:5%;
    position:absolute;
    transform: translateX(0);
    transform: translateY(5vh);
    animation: mover_plato 6s linear;
    opacity: 1;
    background-image: url('plato-removebg-preview.png');
}

#plato_roto_oculto {
    width:5%;
    height:5%;
    position:absolute;
    /*transform: translate(90vw,40vh) rotate(0deg); => NO VA*/
    left:90%;
    top:60%;
    animation: mover_plato 10s linear ,mostrar_plato_roto 2s 5s linear ;
    opacity: 1;
}


#escopeta {
    width:20%;
    height:20%;
    position:absolute;
    top:70%;
    left:50%;
    transform:rotate(-50deg);
    animation: disparar 2s 4s ease-in-out ;
}


#bala {
    width:2%;
    height:6%;
    position:absolute;
    top:60%;
    left:62.8%;
    transform: rotate(30deg);
    animation: mover_bala 0.63s 4s ease-in-out;
    /*z-index: -2;*/
}


@keyframes mover_plato {

    0% {
        transform: translate(0,0) rotate(0deg);
        opacity:1;
    }

    40% {
        transform: translate(40vw, 10vh) rotate(240deg);
        opacity: 1;
    }

    60% {
        transform: translate(60vw, 20vh) rotate(300deg);
        opacity: 1;
    }

    80% {
        transform: translate(80vw, 30vh) rotate(180deg);
        opacity: 0.4;
    }

    90% {
        transform: translate(80vw, 40vh) rotate(180deg);
        opacity: 0.4;
    }

    100% {
        transform: translate(90vw, 60vh) rotate(90deg) ;
        opacity: 0;

    }
}


@keyframes disparar {

    0% {
        transform: rotate(-40deg);
    }

    33% {
        transform: rotate(-30deg) ;
    }

    50% {
        transform: rotate(-20deg) ;
    }

    66% {
        transform: rotate(-10deg);
    }

    76%{
        transform: rotate(-30deg);
    }

    90% {
        transform: rotate(-55deg);
    }

    100% {
        transform: rotate(-40deg);
    }
}

@keyframes mover_bala {

    from {
        transform: translate(58%,62%) rotate(60deg);
        /*z-index: -2;*/
    }

    to {
        transform: translate(30vw,-100vh) rotate(60deg);
        /*z-index: 0;*/
    }
}

@keyframes mostrar_plato_roto {

     0% {
        transform: translateY(60%) rotate(0deg);
        opacity: 0;
    }

    30% {
        transform: translateY(40%) rotate(180deg);
        opacity: 0.75;
    }

    60% {
        transform: translateY(25%) rotate(360deg);
        opacity: 0.5;
    }

    75% {
        transform: translateY(10%) rotate(360deg);
        opacity: 0.25;
    }

    100% {
        transform: translateY(0) rotate(360deg);
        opacity: 0;
    }
    
}

@keyframes cambiar_tonalidad {
     
    from {
        opacity: 1;
    }

    to {
        opacity: 0.7;
    }
    
}




