*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    /*background-image:  url('./arbol_frutas_parque.webp');*/
}

#escenario {
    height: 100vh;
    width:100vw;
    background-image:  url('./arbol_frutas_parque.webp');
    background-size: cover;
    background-repeat:no-repeat;
    position:relative;
}


#plato {
    width:120px;
    height:50px;
    position:absolute;
    transform: translateX(0px);
    transform: translateY(0px);
    animation: mover_plato 10s ease-out infinite;
}


#escopeta {
    width:300px;
    height:150px;
    position:absolute;
    bottom: 0px;
    left:50%;
}


#bala {
    width:50px;
    height:50px;
    position:absolute;
    /*visibility: hidden;*/
}


@keyframes mover_plato {
    0% {
        transform: translateX(0px) rotate(0deg);
    }
    100% {
        transform: translateX(100vw) rotate(360deg);
    }
}

@keyframes  
