*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul > li > img {
    /*Como tengo unas dimensiones fijas para la imagen,no creo que con display block
    haga que la imagen pase a a ocupar todo el ancho del li, ya que le he establecido unas dimensiones
    determinadas y el area clickable está establecdo a corde al tamaño que le he establecido aquí*/
    width:75px;
    height:85px;
   /* display:block;*/
}
ul.vertical li {
    width:100px;
}
ul > li{
    border:1px solid black;
    background-color: #dcd4d4;
}


ul.horizontal > li {
    padding-left:10px 20px;
    display:inline-block;
}
ul.horizontal {
    margin:50px 18%;
}


